<div id="electronic_main_slider" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
       <div class="carousel-item active carousel-item-left">
          <div class="container">
             <h1 class="fashion_taital">کراتین</h1>
             <div class="fashion_section_2">
                <div class="row">
                   <div class="col-lg-4 col-sm-4">
                      <div class="box_main">
                        {% for category in random_categories %}
                           
                        
                         <h4 class="shirt_text">پودر دکلره بلوندمی</h4>
                         <p class="price_text"> قیمت  :  <span style="color: #262626;">1200000 </span></p>
                         <div class="electronic_img"><img src="images/blondme.png"></div>
                         <div class="btn_main">
                            <div class="buy_bt"><a href="#">خرید</a></div>
                            <div class="seemore_bt"><a href="#">سایر محصولات</a></div>
                         </div>
                      </div>
                      {% endfor %}
                   </div>
                   <div class="col-lg-4 col-sm-4">
                      <div class="box_main">
                         <h4 class="shirt_text">پروتئین</h4>
                         <p class="price_text">شروع قیمت از :  <span style="color: #262626;">200 هزار تومان</span></p>
                         <div class="electronic_img"><img src="images/mobile-img.png"></div>
                         <div class="btn_main">
                            <div class="buy_bt"><a href="#">{{random_categories.name}}</a></div>
                            <div class="seemore_bt"><a href="#">سایر محصولات</a></div>
                         </div>
                      </div>
                   </div>
                   <div class="col-lg-4 col-sm-4">
                      <div class="box_main">
                         <h4 class="shirt_text">رنگ مو</h4>
                         <p class="price_text">شروع قیمت از :  <span style="color: #262626;">هزار تومان 90</span></p>
                         <div class="electronic_img"><img src="images/computer-img.png"></div>
                         <div class="btn_main">
                            <div class="buy_bt"><a href="{{random_categories.name}}">{{random_categories.name}}</a></div>
                            <div class="seemore_bt"><a href="#">سایر محصولات</a></div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="carousel-item carousel-item-next carousel-item-left">
          <div class="container">
             <h1 class="fashion_taital">Electronic</h1>
             <div class="fashion_section_2">
                <div class="row">
                   <div class="col-lg-4 col-sm-4">
                      <div class="box_main">
                         <h4 class="shirt_text">سرم ترمیم کننده مو</h4>
                         <p class="price_text">شروع قیمت از :  <span style="color: #262626;">700 هزار تومان</span></p>
                         <div class="electronic_img"><img src="images/laptop-img.png"></div>
                         <div class="btn_main">
                            <div class="buy_bt"><a href="#">خرید</a></div>
                            <div class="seemore_bt"><a href="#">سایر محصولات</a></div>
                         </div>
                      </div>
                   </div>
                   <div class="col-lg-4 col-sm-4">
                      <div class="box_main">
                         <h4 class="shirt_text">شامپو و ماسک مو</h4>
                         <p class="price_text">شروع قیمت از :  <span style="color: #262626;">150 هزار تومان</span></p>
                         <div class="electronic_img"><img src="images/mobile-img.png"></div>
                         <div class="btn_main">
                            <div class="buy_bt"><a href="#">خرید</a></div>
                            <div class="seemore_bt"><a href="#">سایر محصولات</a></div>
                         </div>
                      </div>
                   </div>
                   <div class="col-lg-4 col-sm-4">
                      <div class="box_main">
                         <h4 class="shirt_text">پودر دکلره</h4>
                         <p class="price_text">شروع قیمت از :  <span style="color: #262626;">$ 100</span></p>
                         <div class="electronic_img"><img src="images/computer-img.png"></div>
                         <div class="btn_main">
                            <div class="buy_bt"><a href="#">خرید</a></div>
                            <div class="seemore_bt"><a href="#">سایر محصولات</a></div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="carousel-item">
          <div class="container">
             <h1 class="fashion_taital">رنگ و ابزار رنگ مو</h1>
             <div class="fashion_section_2">
                <div class="row">
                   <div class="col-lg-4 col-sm-4">
                      <div class="box_main">
                         <h4 class="shirt_text">رنگ موی ایندوری</h4>
                         <p class="price_text">شروع قیمت از :  <span style="color: #262626;">$ 100</span></p>
                         <div class="electronic_img"><img src="images/laptop-img.png"></div>
                         <div class="btn_main">
                            <div class="buy_bt"><a href="#">خرید</a></div>
                            <div class="seemore_bt"><a href="#">سایر محصولات</a></div>
                         </div>
                      </div>
                   </div>
                   <div class="col-lg-4 col-sm-4">
                      <div class="box_main">
                         <h4 class="shirt_text">اکسیدان آر پی</h4>
                         <p class="price_text">شروع قیمت از :  <span style="color: #262626;">$ 100</span></p>
                         <div class="electronic_img"><img src="images/mobile-img.png"></div>
                         <div class="btn_main">
                            <div class="buy_bt"><a href="#">خرید</a></div>
                            <div class="seemore_bt"><a href="#">سایر محصولات</a></div>
                         </div>
                      </div>
                   </div>
                   <div class="col-lg-4 col-sm-4">
                      <div class="box_main">
                         <h4 class="shirt_text">کاسه رنگ سیترئو</h4>
                         <p class="price_text">شروع قیمت از :  <span style="color: #262626;">$ 100</span></p>
                         <div class="electronic_img"><img src="images/computer-img.png"></div>
                         <div class="btn_main">
                            <div class="buy_bt"><a href="#">خرید</a></div>
                            <div class="seemore_bt"><a href="#">سایر محصولات</a></div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <a class="carousel-control-prev" href="#electronic_main_slider" role="button" data-slide="prev">
    <i class="fa fa-angle-left"></i>
    </a>
    <a class="carousel-control-next" href="#electronic_main_slider" role="button" data-slide="next">
    <i class="fa fa-angle-right"></i>
    </a>
 </div>